.nav{
    table-layout: fixed;
    border:solid;
    border-color:rgb(0, 0, 0);
    background-color:rgba(0, 0, 0, 0.397);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.6);
    border-radius:1cap;
    width: 90%;
    font-size: 120%;
}

.avaaatar{
    border-radius:5cap;
    display: flex;
    margin: 0 auto;
}

h1{
    font-family: montserrat, sans-serif;
    text-align: center;
    color:rgba(94, 86, 113, 0.912);
    text-transform: uppercase;
    Font-size: 325%;
    /*text-shadow: 0px 0px 10px rgb(0, 0, 0);*/
    text-shadow: 0px 4px 10px rgba(94, 86, 113, 0.912);
}

a.canadaa{
    text-decoration: none;
    color:#3b3e58;
}

a.canadaa:hover{
    color: #3b3e58;
}

a.navi{  
    text-decoration: none;
    font-size: 1.5vw;   /*wv pour ajuster la taille de la police en fonction de la taille de la fenetre*/
    font-family:montserrat, sans-serif;
    text-transform: uppercase;
    color:#A1B5D8;
    text-shadow: 2px 3px 5px rgb(0, 0, 0);
    
}
a.normal{
    color: black;
}
a:hover{color:white}

td{text-align: center}

.ca,.na{
    color: aliceblue;
}

.ca:hover{color:rgb(196, 9, 9)}

.na:hover{color:rgb(243, 227, 227)}

.c1{
    text-align: center;
    font-family: quicksand, sans-serif;
    font-size: 3vw;
    color: aliceblue;
    border-radius: 1cap;
    padding-top: 10%;
    padding-bottom: 10%;
    margin-bottom: 5%;
}

.bi{margin-right:5px}

h2{
    text-align:center;
    color:#3b3e58;
    font-size: 25px;
    font-weight: none;
}

.parag{
    font-size: 2vw;
    color: aliceblue;
}

.presentationn{
    text-decoration: none;
    color:#3b3e58;
}
.presentationn:hover{
    color:aliceblue;
}

.ici{
    text-decoration: none;
    color:rgb(215, 17, 17);
}
.ici:hover{
    color:aliceblue;
}


footer{
    /*background-color: rgba(0, 0, 0, 0.397);*/
    background-color:rgba(94, 86, 113, 0.912);
    color:aliceblue;
    text-align: center;
    padding: 10px 0;
    font-family: quicksand, sans-serif;
    margin-top: 20%;
}

.paysage{
    position: fixed;
    top:0;
    left:0;
    background: url("https://i.pinimg.com/originals/29/01/c9/2901c970f65229d483958bdb5b15ee81.gif") no-repeat center center;
    background-size: cover;
    width : 100%;
    height : 100%;
    z-index: -1;
}

.montserrat{
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.quicksand{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }

/*    PAGE   INSCRIPTION    */

.inscrire{
    background-color: rgba(240, 255, 255, 0.638);
    color: rgb(110, 99, 134);
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.6);
    border-radius: 2cap;
    height: 300px;
    width: 500px;
    font-size: 20px;
    font-family: quicksand, sans-serif;
}

.inscrire td{
    padding: 10px; /* Ajoute un peu d’espace à l’intérieur des cellules */
}

input[type="text"], input[type="tel"], input[type="password"]{
    background-color:transparent;
}

.ressset{
    text-align: center;
    font-family: quicksand, sans-serif;
    padding: 5px;
    font-size: 15px;
    border-radius: 2cap;
    width:60px;
    background-color: rgba(129, 118, 156, 0.655);
}
.ressset:hover{
    color: #ffffff;
}
.inscrire input::placeholder {
    color: rgba(129, 118, 156, 0.655);
    font-style: italic; /* Style en italique */
    font-size: 15px;
    font-family: quicksand, sans-serif;
    opacity: 70%;
}


/*    PAGE   PROFIL       */

.profil{
    padding: 10px;
    padding-top: 20px;
    padding-left: 30px;
    width:400px;
    height:390px;
    border-radius: 4cap;
    background-color: rgba(240, 255, 255, 0.638);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
    font-size: 15px;
    text-align: left;
    font-family: quicksand, sans-serif;
}

.profil-info{
    font-size: 20px;
    color: rgb(110, 99, 134);
}

button {
    background: none;
    border: none; /* Facultatif : enlève aussi le contour */
}
.btn-modif{
    cursor:pointer;
    color:#3b3e58;
}
.btn-modif:hover{
    color: #A1B5D8;
}


/*    PAGE   PRESENTATION    */

.normalA{
    padding-top: 10%;
    padding-bottom: 10%;
    margin-bottom: 5%;
    margin-right:5%;
    margin-left: 5%;
    border-radius: 2cap;
    background-color: rgba(94, 86, 113, 0.554);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
    font-family: quicksand, sans-serif;
}

.titress{
    text-align: center;
    font-size: 3vw;
    color: aliceblue;
}

.normalB{
    padding: 1%;
    padding-top: 3%;
    padding-bottom: 0.5%;
    margin-bottom: 5%;
    width:50%;
    border-radius: 10cap;
    background-color: rgba(94, 86, 113, 0.554);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
    font-size: 1vw;
    font-family: quicksand, sans-serif;
}
.press{
    font-size: 2vw;
    color:#A1B5D8;
}

.normalB input::placeholder {
    color: #A1B5D8; 
    font-style: italic; /* Style en italique */
    font-size: 2vw;
    font-family: quicksand, sans-serif;
    opacity: 60%;
}
.searchh{
    font-size: 2vw;
    border-radius: 2cap;
    padding-right: 11%;
    padding-left: 2%;
    background-color: rgba(94, 86, 113, 0.655);
    border: solid 1px black;
    text-emphasis-color: white;
}
.placeholder{
    color:#A1B5D8;
}

.btn_search{
    font-size: 2vw;
    font-family: quicksand, sans-serif;
    border-radius: 2cap;
    padding-left: 2%;
    padding-right: 2%;
    background-color: #A1B5D8;
    color:rgba(94, 86, 113, 0.655);
}
.btn_search:hover{
    color: #A1B5D8;
    background-color: rgba(94, 86, 113, 0.655);
}


/*     PAGE   CONNEXION    */

.seconnecter{
    text-align: center;
    font-family: quicksand, sans-serif;
    padding: 5px;
    font-size: 15px;
    border-radius: 2cap;
    width:120px;
    background-color: rgba(129, 118, 156, 0.655);
}
.seconnecter:hover{
    color: #ffffff;
}

.tabconnexion{
    /*background-color:rgba(94, 86, 113, 0.554);*/
    background-color: rgba(240, 255, 255, 0.638);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
    color: rgb(110, 99, 134);
    border-radius: 2cap;
    height: 210px;
    width: 420px;
    padding: 10px;
    font-size:20px;
    font-family: quicksand, sans-serif;
}

.tabconnexion  td{
    padding: 10px; /* Ajoute un peu d espace a l interieur des cellules */
}
.tabconnexion input::placeholder {
    color: rgba(129, 118, 156, 0.655);
    font-style: italic; /* Style en italique */
    font-size: 15px;
    font-family: quicksand, sans-serif;
    opacity: 80%;
}

.bas-formu{
    font-size: 10px;
}
.lienn{
    color:aliceblue;
    text-decoration: none;
}
.lienn:hover{
    color:#3b3e58;
}

/*    PAGE   VOYAGES     */

.daate{
    border-radius: 5cap;
    font-size: 17px;
    background-color: rgba(124, 113, 149, 0.659);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    /*width:200px;
    height: 200px;*/
    padding-top: 5%;
    padding-bottom: 5%;
    margin-right: 5%;
}
.peoplee{
    border-radius: 5cap;
    font-size: 17px;
    background-color: rgba(124, 113, 149, 0.659);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    width:200px;
    height:200px;
    padding: 15px;
    margin-right: 5%;
}
.lieuu{
    border-radius: 5cap;
    font-size: 17px;
    background-color: rgba(124, 113, 149, 0.659);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    width:200px;
    height:200px;
    padding: 15px;
}

.tabvoyage{
    width:100%;
    height:100%;
    
    font-family: quicksand, sans-serif;
}

.tabvoyage td{
    border: solid 1px black;
}

#map{
    height: 500px;
    width: 30%;
    border-radius:4cap;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

html{
    scroll-behavior: smooth;
}
.paysagevoyages{
    position:absolute;
    top:0;
    left:0;
    background: url("https://i.pinimg.com/originals/29/01/c9/2901c970f65229d483958bdb5b15ee81.gif") no-repeat center center;
    background-size: cover;
    width : 100%;
    height : 100%;
    z-index: -1;
}